In [1]:
import pandas as pd
import numpy as np

In [3]:
data =  pd.read_csv(r"C:\Users\pavani\Downloads\insurance.csv")
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
le = LabelEncoder()

In [6]:
sc = StandardScaler()

In [9]:
obj_list= data.select_dtypes(include='object')

In [10]:
for i in obj_list:
    data[i]= le.fit_transform(data[i].astype(str))
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int32
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int32
 5   region    1338 non-null   int32
 6   charges   1338 non-null   float64
dtypes: float64(2), int32(3), int64(2)
memory usage: 57.6 KB
None

In [11]:
data

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [12]:
X = data.drop(['charges'],axis=1)

In [13]:
y= data['charges']

In [14]:
X

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

In [15]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [16]:
sc1 = StandardScaler()

In [17]:
X_ss = sc.fit_transform(X)

In [19]:
y_re = y.values.reshape(-1,1)

In [20]:
y_re.shape

(1338, 1)

In [21]:
X_ss.shape

(1338, 6)

In [22]:
y.shape

(1338,)

In [23]:
y_ss = sc1.fit_transform(y_re)

In [24]:
y_ss.shape

(1338, 1)

In [25]:
X_train,X_test,y_train,y_test = train_test_split(X_ss,y_ss,test_size=0.2)

In [26]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import r2_score

In [27]:
ann = Sequential()

In [34]:
ann.add(Dense(units=36,input_dim=6,activation = 'relu')) # imput layer
ann.add(Dense(units=36,activation = 'relu')) # hidden layer
keras.layers.Dropout(0.5) # regularlization of the neyral network by removing some neurons 
ann.add(Dense(units=1,activation = 'relu')) # output layer

In [35]:
ann.compile(optimizer='adam',loss = 'mean_squared_error',metrics = ['mse'])
ann.fit(X_train,y_train,epochs=50,batch_size=32,verbose=1)

Epoch 1/50
34/34 [==============================] - 1s 2ms/step - loss: 0.5843 - mse: 0.5843
Epoch 2/50
34/34 [==============================] - 0s 3ms/step - loss: 0.3400 - mse: 0.3400
Epoch 3/50
34/34 [==============================] - 0s 3ms/step - loss: 0.3331 - mse: 0.3331
Epoch 4/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3293 - mse: 0.3293
Epoch 5/50
34/34 [==============================] - 0s 3ms/step - loss: 0.3286 - mse: 0.3286
Epoch 6/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3259 - mse: 0.3259
Epoch 7/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3255 - mse: 0.3255
Epoch 8/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3238 - mse: 0.3238
Epoch 9/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3227 - mse: 0.3227
Epoch 10/50
34/34 [==============================] - 0s 3ms/step - loss: 0.3226 - mse: 0.3226
Epoch 11/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3225 - mse: 0.3225
Epoch 12/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3223 - mse: 0.3223
Epoch 13/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3210 - mse: 0.3210
Epoch 14/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3218 - mse: 0.3218
Epoch 15/50
34/34 [==============================] - 0s 3ms/step - loss: 0.3215 - mse: 0.3215
Epoch 16/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3200 - mse: 0.3200
Epoch 17/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3212 - mse: 0.3212
Epoch 18/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3199 - mse: 0.3199
Epoch 19/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3202 - mse: 0.3202
Epoch 20/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3196 - mse: 0.3196
Epoch 21/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3188 - mse: 0.3188
Epoch 22/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3192 - mse: 0.3192
Epoch 23/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3177 - mse: 0.3177
Epoch 24/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3189 - mse: 0.3189
Epoch 25/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3175 - mse: 0.3175
Epoch 26/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3178 - mse: 0.3178
Epoch 27/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3169 - mse: 0.3169
Epoch 28/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3182 - mse: 0.3182
Epoch 29/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3184 - mse: 0.3184
Epoch 30/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3168 - mse: 0.3168
Epoch 31/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3170 - mse: 0.3170
Epoch 32/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3168 - mse: 0.3168
Epoch 33/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3179 - mse: 0.3179
Epoch 34/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3178 - mse: 0.3178
Epoch 35/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3174 - mse: 0.3174
Epoch 36/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3184 - mse: 0.3184
Epoch 37/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3167 - mse: 0.3167
Epoch 38/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3166 - mse: 0.3166
Epoch 39/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3150 - mse: 0.3150
Epoch 40/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3160 - mse: 0.3160
Epoch 41/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3159 - mse: 0.3159
Epoch 42/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3147 - mse: 0.3147
Epoch 43/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3161 - mse: 0.3161
Epoch 44/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3162 - mse: 0.3162
Epoch 45/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3144 - mse: 0.3144
Epoch 46/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3151 - mse: 0.3151
Epoch 47/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3160 - mse: 0.3160
Epoch 48/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3144 - mse: 0.3144
Epoch 49/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3141 - mse: 0.3141
Epoch 50/50
34/34 [==============================] - 0s 2ms/step - loss: 0.3189 - mse: 0.3189

In [36]:
z_ann = ann.predict(X_test)

9/9 [==============================] - 0s 2ms/step

In [38]:
print('r2_score:',r2_score(y_test,z_ann)*100)

r2_score: 59.105281019710354

In [39]:
# test the performance of the neuralnetwork

In [40]:
data

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [41]:
test = np.array([[19,0,27.90,0,1,3]])

In [42]:
tss = sc.transform(test)

C:\Users\pavani\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [43]:
out = ann.predict(tss)

1/1 [==============================] - 0s 49ms/step

In [47]:
print(out)

[[0.25281036]]

In [51]:
out2=sc1.inverse_transform(out)

In [53]:
print('predicted_output:',out2[0][0])

predicted_output: 16330.814